<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <WorkBase.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value />
            </setting>
            <setting name="database" serializeAs="String">
                <value />
            </setting>
            <setting name="integratedSecurity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="upload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="replace" serializeAs="String">
                <value>False</value>
            </setting>
        </WorkBase.Properties.Settings>
    </userSettings>
</configuration>